body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;

}

header {
    background-color: #6dee9f;
    color: #fff;
    padding: 20px;
    text-shadow: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-shadow: none;
}

section.content {
    padding: 20px;
}

footer {
    background-color: #6dee9f;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-shadow: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.character,
.poster,
.image {
    flex-basis: 300px;
    padding: 30px;
    background-color: #6dee9f;
    box-shadow: 0 0 10px #6dee9f;
    text-align: center;
}

.character img,
.poster img,
.image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    padding: 10px;
}

.flex-container, .side-text {
    flex: 1; 
}

.side-text {
    padding: 10px;
}
